body {
  background-color: #99ccff;
}

.centered {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 50px;
}

.header {
  font-size: 50px;
  text-align: center;
}

.content {
  padding-top: 150px;
}

.linkText {
  text-decoration: none;
  color: white;
}
