body {
  background-color: #99ccff;
}

div {
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
}

button {
  cursor: url('../assets/handCursorActive.png') 10 10, auto;
}

button:hover {
  cursor: url('../assets/handCursorActive.png') 10 10, auto;
}

.centered {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 50px;
}

.header {
  font-size: 50px;
  text-align: center;
}

.content {
  padding-top: 150px;
}
